/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Color Palette */
:root {
   --white: #f9f9f9;
   --blue: #0466c8;
}

/* Font */
@font-face {
   font-family: 'Arial Rounded MT Bold';
   src: url('./fonts/Arial Rounded MT Bold.ttf');
}

* {
   font-family: 'Arial Rounded MT Bold';
}

body {
   background-color: var(--white);
}
